.pfholder {
  display: flex;
  align-items: center;
  padding: 0 16px 0 40px;
  flex-shrink: 0;
}

.pfholder > svg {
  width: 22px;
  color: #f9fafb;
  flex-shrink: 0;
  margin-left: 22px;
}
/* 
.trn:hover {
  transform: scale(1.05);
} */

.hide {
  display: none;
}

.not-icon {
  cursor: pointer;
}
.cld-icon,
.acc-icon {
  width: 22px;
  color: #f9fafb;
  flex-shrink: 0;
  cursor: pointer;
}

.llc {
  position: relative;
}

.llc > svg {
  color: #f9fafb;
}
.span-num {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3a6df0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 10px;
  cursor: pointer;
}

.span-num:hover {
  background-color: #1d5bf8;
  cursor: pointer;
}

.cld-icon {
  display: none;
}

@media (max-width: 650px) {
  .pfholder {
    display: none;
  }
}
